<div class="w-full py-2 flex flex-col gap-2 items-center overflow-hidden">
  <ng-container *ngIf="showMarquee">
    <ngx-fast-marquee [speed]="50">
      <div class="flex gap-8 px-4">
        <div class="text-nowrap text-sm md:text-base font-medium text-blue-800">
          ✨ <span class="font-bold">{{ 'marquee.line1' | translate }}</span> ✨
        </div>

        <div class="text-nowrap text-sm md:text-base text-gray-700">
          🏛️ {{ 'marquee.line2' | translate }}
        </div>

        <div class="text-nowrap text-sm md:text-base text-green-800">
          💳 {{ 'marquee.line3' | translate }}
        </div>
      </div>
    </ngx-fast-marquee>
  </ng-container>
</div>
